@import "bootstrap.min.css";
@import "normalize.css";
@import "../Fontawesome/css/fontawesome.min.css";
@import "../Fontawesome/css/all.min.css";
@import url('https://fonts.googleapis.com/css?family=Cairo:400');

/**/

body {
    background-color: #F5F8FA;
    padding: 0;

}

.navbar {
    background-color: #10BBB3 !important;
    padding: 0 0 0 6px;
    margin: -4px 0 0 0;
}
.navbar-light{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

}
.collapse{
    padding: 8px 0 0 0;
    color: white;
    font-size: 13px;
}
@media (max-width: 991px){
    .nav-item a {
        padding: 18px;
        display: block;
        margin-left: -10px !important;
        color: #f5f9fc;
        /*color: #1b1e21;*/
        font-size: 14px;
    }
}

.nav-item a {
    /*padding-left: 200px;*/
    display: block;
    margin-left: 21px;
    color: #f5f9fc;
    /*color: #1b1e21;*/
    font-size: 14px;
    margin-bottom: 7px;

}

.nav-item a:hover {
    /*color: #1b1e21;*/
    text-decoration: none;
}

nav .navbar-collapse {
    float: right !important;
    /*padding-right: -20px;*/
    padding-bottom: 3px;
    direction: rtl;
    margin-bottom: 5px;

}

.icon-globe:before {
    /*content: "\EAB5";*/
}

.icon:before {
    top: 2px;
}


.mr-sm-0{
    width: 174px;
    height: 33px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    /*padding-right: 4px;*/
    padding: 1px 1px 1px 4px;

}
@media (min-width: 500px) {
     .mr-sm-0 {
         margin: 0 auto 3px 0 !important;
        width: 174px;
        height: 33px;
        font-size: 14px;
         border-radius: 8px;
    }

}
@media (max-width: 498px) {
    .mr-sm-0 {
        margin: 0 auto 3px 0 !important;
        width: 170px;
        height: 33px;
        font-size: 14px;
        border-radius: 8px;

    }
}
@media (min-width: 700px) {
    .butt{
        font-size: smaller;
    }

}
.butt{
    font-size: smaller;
}

/*-------------*/
@media (max-width: 416px) {
    .navbar{
        background-color: #10BBB3 !important;
        padding: 0 6px 0 6px;
        line-height: 20px;
    }
    .butt{
        font-size: smaller;
    }
    .mr-sm-0 {
        width: 145px;
        height: 28px;
        font-size: 14px;
        margin-bottom: 1px !important;
    }
    span img{
        width: 50px;
        height: 22px;
        margin-bottom: 5px !important;
    }
    nav a{
        margin: 4px 5px 0 0 !important;
    }

}
@media (max-width: 316px) {
    .navbar {
        background-color: #10BBB3 !important;
        padding: 0 6px 0 6px;
        line-height: 15px;
    }
    .icon{
        padding : 2px !important;
    }

    .butt {
        font-size: smaller;
    }

    .mr-sm-0 {
        width: 110px;
        height: 25px;
        font-size: 12px;
        margin-bottom: 1px !important;

    }

    span img {
        width: 40px;
        height: 20px;
        margin-bottom: 5px !important;

    }

}
nav div ul li {
    padding-left: 10px;
    font-family: 'Cairo', sans-serif;
}

/* footer */
@media (max-width: 345px){
    .container{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    footer div span{
        font-size: 10px !important;
    }
    footer div span a{
        font-size: 10px !important;
    }
    .a-s-l{
        font-size: 10px !important;
    }
}