
/**/

.p-t-md{
    padding-top: 25px !important;
}
@media (min-width: 1260px) {
    .container{
        max-width: 1262px;
    }

}
@media (max-width: 977px){
    .container {
       max-width: 900px;
    }
}
@media (max-width: 898px){
    .container {
        max-width: 800px;
    }
}


@media (max-width: 780px) {
    .container{
      max-width: none;
    }
}
.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}
/**/
h4{
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 12px;
    color: rgb(30, 57, 72);
}
li{
    font-family: 'Cairo', sans-serif;
    font-size: 13.9px;
    color: rgb(30, 57, 72);
}
.row div a{
    /*color: #1b1e21;*/
    color:rgb(30, 57, 72) ;
    font-size: 12.5px;
    font-family: 'Cairo', sans-serif;

}
.row div a:hover{
    text-decoration: none;
    color: #10BBB3;
}
/**/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
}
footer.center-block {
    background: rgba(0, 0, 0, .075);
    color: #777;
}
.social {
    font-size: 13px;
}
.spacer {
    color: #10BBB3;
}